SPRING_DATASOURCE_URL=jdbc:postgresql://IP_TERRAMOUNT:5432/portfolio_dev
SPRING_DATASOURCE_USERNAME=portfolio_app
SPRING_DATASOURCE_PASSWORD=cambia_esto
SPRING_DATA_REDIS_HOST=IP_TERRAMOUNT
SPRING_DATA_REDIS_PORT=6379
SPRING_DATA_REDIS_PASSWORD=cambia_esto
APP_JWT_SECRET=generar_con_openssl_rand_base64_64
APP_JWT_REFRESH_SECRET=generar_otro_distinto_openssl_rand_base64_64
APP_CORS_ALLOWED_ORIGINS=http://localhost:3000
APP_ADMIN_EMAIL=admin@pepe1603.dev
APP_ADMIN_SECRET=cambia_esto
SPRING_MAIL_HOST=smtp.example.com
SPRING_MAIL_PORT=587
SPRING_MAIL_USERNAME=no-reply@pepe1603.dev
SPRING_MAIL_PASSWORD=cambia_esto
APP_CONTACT_DEST_EMAIL=contact@pepe1603.dev
APP_UPLOAD_DIR=/home/pepe-dev/Projects/pepedev-portfolio/uploads
NUXT_PUBLIC_API_BASE_URL=http://localhost:8080
NUXT_PUBLIC_SITE_URL=http://localhost:3000